@font-face {
    /*src: url("../fontpacks/upheavtt.ttf");*/


    src: url("../fontpacks/Retro Gaming.ttf");
    /*src: url("../fontpacks/alagard.ttf");*/

    /*src: url("../fontpacks/04B_30__.ttf");*/
    font-family: RetroGaming;
}

/*
from logo
sauce: e63746
background: 1d3557

 */

:root {
    --light-shade: #E2E1D7;
    --light-accent: #7681A1;
    --main-brand: #e63746;
    --dark-accent: #1d3557;
    --dark-shade: #1E1C26;
    --dark-secondary: #0B0B0C;
}

body {
    font-family: RetroGaming;
}

.container {
    padding-top: 125px;
    padding-bottom: 125px;
}

.experience-logo {
    height: 115px;
    width: 115px;
}

.skills-logo {
    height: 64px;
}


.modes {
    /*max-height: 750px;*/
    height: 575px;
}

.quotes-section {
    background-color: var(--dark-shade);
}

.main-brand {
    color: var(--main-brand);
}

.dark-accent {
    color: var(--dark-accent);
}

.bg-light-shade {
    background-color: var(--light-shade);
}

.bg-dark-shade {
    background-color: var(--dark-shade);
}

.bg-dark-accent {
    background-color: var(--dark-accent);
}

.bg-bubble {
    background: url("../images/chat-bubble-1.svg") no-repeat;
    height: 300px;
    padding-top: 50px;
    padding-left: 25px;
}

.bars {
    max-width: 256px;
}

.health {
    color: red;
}

.energy {
    color: orange;
}

.exp {
    color: green;
}

/*.navbar-brand {*/
/*    fill: var(--)*/
/*}*/

/*background: center / contain no-repeat url("../../media/examples/firefox-logo.svg"),*/
            /*#eee 35% url("../../media/examples/lizard.png");*/

/*
colors

primary - #e03442
info - #1e1c26
success - #788a4c
warning - #f67a14
danger - #f44336
light - #E2E1D7
dark-shades - #1E1C26

light-accent - #7681A1
main-brand - #E13240
dark-accent - #1B2F4B


use for background


 */