<div class="container">
      <div class="row">
          <div class="col-sm text-center">
              <img class="rounded" src="{{ url_for('static', filename='images/pfp.png') }}" alt="My image" style="width: 250px;">
          </div>
          <div class="col-sm bg-bubble">
              <!-- speech bubble graphic -->
              <h3 class="main-brand">HELLO,</h3>
              <h1>I AM <span class="main-brand">STEVE</span></h1>
              <!-- some divider -->
              <!-- maybe make this delete and write in new results -->
              <h3 class="text-muted">Software Engineer</h3>
              <!-- Hot Sauce Connoisseur - Web3 Enthusiast -->
          </div>
      </div>
  </div>