<div class="container" id="character">
  <h1 class="main-brand pb-5 text-uppercase">Character Sheet</h1>
  <div class="row fs-5">
      <div class="col-sm character-base-stats">
          <!-- maybe use stacks here -->
          <div class="row pb-2">
              <div class="col">
                  <img src="{{ url_for('static', filename='images/pfp.png') }}" alt="Me">
              </div>
              <div class="col">
                  <p class="mb-0">Steve</p>
                  <p class="mb-0">Human Engineer</p>
                  <div class="pt-2">
                      <p class="fs-3 mb-0 pb-0">Level {{ dynamic_life_experience.level }}</p>
                      <div class="mt-5">
                          <p class="text-small mb-0 pb-0 text-center">EXP TO NEXT LEVEL</p>
                          <p class="text-center fs-4">{{ dynamic_life_experience.exp_to_next_level }}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pb-2">
              <div class="hstack">
                  <span class="me-auto">Health</span>
                  <span>{{ dynamic_life_experience.health ~ ' / ' ~ dynamic_life_experience.health }}</span>
              </div>
              <div class="hstack">
                  <span class="me-auto">Energy</span>
                  <span>{{ dynamic_life_experience.energy ~ ' / ' ~ dynamic_life_experience.energy }}</span>
              </div>
              <div class="hstack">
                  <span class="me-auto">Exp</span>
                  <span>{{ dynamic_life_experience.total_experience }}</span>
              </div>
          </div>
          <div class="pb-2">
              <h3 class="text-center main-brand text-uppercase pb-2">Proficiencies</h3>
              <div class="hstack gap-4 pb-2">
                  <img width="32px" src="{{ url_for('static', filename='images/pixel-star.svg') }}" alt="Star">
                  <span>Python</span>
              </div>
              <div class="hstack gap-4 pb-2">
                  <img width="32px" src="{{ url_for('static', filename='images/pixel-star.svg') }}" alt="Star">
                  <span>Ruby</span>
              </div>
              <div class="hstack gap-4 pb-2">
                  <img width="32px" src="{{ url_for('static', filename='images/pixel-star.svg') }}" alt="Star">
                  <span>TS/JS</span>
              </div>
          </div>


      </div>
      <div class="col-sm-7 character-detail">
          <ul class="nav nav-pills mb-3 gap-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="btn btn-outline-dark active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">
                      All
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="btn btn-outline-dark" id="pills-feats-tab" data-bs-toggle="pill" data-bs-target="#pills-feats" type="button" role="tab" aria-controls="pills-feats" aria-selected="false">
                      Feats
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="btn btn-outline-dark" id="pills-abilities-tab" data-bs-toggle="pill" data-bs-target="#pills-abilities" type="button" role="tab" aria-controls="pills-abilities" aria-selected="false">
                      Abilities
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="btn btn-outline-dark" id="pills-skills-tab" data-bs-toggle="pill" data-bs-target="#pills-skills" type="button" role="tab" aria-controls="pills-skills" aria-selected="false">
                      Skills
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="btn btn-outline-dark" id="pills-traits-tab" data-bs-toggle="pill" data-bs-target="#pills-traits" type="button" role="tab" aria-controls="pills-traits" aria-selected="false">
                      Traits
                  </button>
              </li>
          </ul>
          <div class="tab-content character-detail-content overflow-auto fs-5" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
                  {% for key, values in character_stats.items() %}
                      <h4 class="character-sheet-header">{{ key }}</h4>
                      <div class="pb-3">
                      {% for value in values.content %}
                          {% if values.type == 'bullet' %}
                              <p>{{ value }}</p>
                          {% elif values.type == 'badge' %}
                              <span class="badge rounded-pill mb-2">{{ value }}</span>
                          {% endif %}
                      {% endfor %}
                      </div>
                  {% endfor %}
              </div>
              <div class="tab-pane fade" id="pills-feats" role="tabpanel" aria-labelledby="pills-feats-tab" tabindex="0">
                  <h4 class="character-sheet-header">Feats</h4>
                  <p>Built complex data generation modules to seed ephemeral environments with production like data.</p>
                  <p>Developed serverless data-processing lambdas.</p>
                  <p>Engineered Continuous Deployment pipelines.</p>
                  <p>Configured pipeline quality gates to ensure confidence in continuous deployment pipelines.</p>
                  <p>Designed, deployed, and maintain web applications for small businesses.</p>
                  <p>Reduced feedback loops from 3 days to 5 minutes.</p>
                  <p>Lead effort to increase code coverage from 2% to over 80%.</p>
                  <p>Standardized approaches to unit, integration, and end-to-end tests.</p>
                  <p>Mentored and coached teams throughout the United States and internationally to develop technical and non-technical skills.</p>
                  <p>Coordinated organizational technology adoption.</p>
              </div>
              <div class="tab-pane fade" id="pills-abilities" role="tabpanel" aria-labelledby="pills-abilities-tab" tabindex="0">
                  <h4 class="character-sheet-header">Abilities</h4>
                  <span class="badge rounded-pill">Front End Development</span>
                  <span class="badge rounded-pill">Back End Development</span>
                  <span class="badge rounded-pill">Quality Engineering</span>
                  <span class="badge rounded-pill">Continuous Integration</span>
                  <span class="badge rounded-pill">Continuous Deployment</span>
                  <span class="badge rounded-pill">Continuous Testing</span>
                  <span class="badge rounded-pill">Build Pipelines</span>
                  <span class="badge rounded-pill">Peer Reviews</span>
                  <span class="badge rounded-pill">Feature Design</span>
                  <span class="badge rounded-pill">Behavior Driven Development</span>
                  <span class="badge rounded-pill">Test Driven Development</span>
              </div>
              <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab" tabindex="0">
                  <h4 class="character-sheet-header">Skills</h4>
                  <span class="badge rounded-pill">Django</span>
                  <span class="badge rounded-pill">Pytest</span>
                  <span class="badge rounded-pill">Rails</span>
                  <span class="badge rounded-pill">RSpec</span>
                  <span class="badge rounded-pill">Cypress</span>
                  <span class="badge rounded-pill">MongoDB</span>
                  <span class="badge rounded-pill">React</span>
                  <span class="badge rounded-pill">React Testing Library</span>
                  <span class="badge rounded-pill">Leadership</span>
                  <span class="badge rounded-pill">Communication</span>
                  <span class="badge rounded-pill">Collaboration</span>

              </div>
              <div class="tab-pane fade" id="pills-traits" role="tabpanel" aria-labelledby="pills-traits-tab" tabindex="0">
                  <h4 class="character-sheet-header">Traits</h4>
                  <span class="badge rounded-pill">Investigative</span>
                  <span class="badge rounded-pill">Conventional</span>
                  <span class="badge rounded-pill">Pragmatic</span>
                  <span class="badge rounded-pill">Deliberate</span>
                  <span class="badge rounded-pill">Autonomous</span>
                  <span class="badge rounded-pill">Supporting</span>
                  <span class="badge rounded-pill">Observant</span>
                  <span class="badge rounded-pill">Methodical</span>
              </div>
          </div>

      </div>

  </div>
</div>