<div class="container text-center modes">
  <h2 class="pb-3">CHARACTER SHEET</h2>
  <ul class="nav nav-pills mb-3 d-inline-flex gap-3 fs-5" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
          <!-- Proficiencies & Languages -->

          <!-- Reiterate level + experience earned years -->

          <!-- Proficiencies -->


          <!-- maybe 'experience', 'skills', 'apps' -->
          <button class="nav-link active" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="true">
              Experience
          </button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-skills-tab" data-bs-toggle="pill" data-bs-target="#pills-skills" type="button" role="tab" aria-controls="pills-skills" aria-selected="false">
              Skills
          </button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-apps-tab" data-bs-toggle="pill" data-bs-target="#pills-apps" type="button" role="tab" aria-controls="pills-apps" aria-selected="false">
              Apps
          </button>
      </li>
  </ul>
  <div class="tab-content my-4" id="pills-tabContent">
      <!-- make them all dim and highligh on hover? -->
      <div class="tab-pane fade show active" id="pills-experience" role="tabpanel" aria-labelledby="pills-experience-tab" tabindex="0">
          <div class="row">
              <div class="col-sm">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/ribbon.svg') }}" alt="Ribbon Home">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/atvi.svg') }}" alt="Activision">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/cmg.svg') }}" alt="Cox Media Group">


              </div>
              <div class="col-sm">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/meraki.svg') }}" alt="Cisco Meraki">
                  <!-- or should I use gracenote more specifically?? -->
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/gracenote.svg') }}" alt="Gracenote">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/tapqa.svg') }}" alt="tapQA">
              </div>
              <div class="col-sm">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/icario.svg') }}" alt="Icario">
                  <img class="experience-logo m-2" src="{{ url_for('static',  filename='images/experiences/taylor.svg') }}" alt="Taylor Digital">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/spok.svg') }}" alt="Spok">
              </div>
              <div class="col-sm">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/ofw.svg') }}" alt="Our Family Wizard">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/target.svg') }}" alt="Target">
                  <img class="experience-logo m-2" src="{{ url_for('static', filename='images/experiences/ocas.svg') }}" alt="Ontario College Application Service">
              </div>
          </div>
          <!-- add some sort of experience bar?? lol -->
      </div>
      <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab" tabindex="0">

          <div class="row">
              <div class="col-sm">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/python.svg') }}" alt="Python">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/ruby.svg') }}" alt="Ruby">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/ts.svg') }}" alt="Typescript">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/js.svg') }}" alt="Javascript">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/googlecloud.svg') }}" alt="Google Cloud">
              </div>

              <div class="col-sm">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/django.svg') }}" alt="Django">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/rails.svg') }}" alt="Rails">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/flask.svg') }}" alt="Flask">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/fastapi.svg') }}" alt="FastAPI">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/docker.svg') }}" alt="Docker">
              </div>

              <div class="col-sm">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/bootstrap.svg') }}" alt="Bootstrap">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/react.svg') }}" alt="React">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/jinja.svg') }}" alt="Jinja">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/digitalocean.svg') }}" alt="Digital Ocean">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/aws.svg') }}" alt="Amazon Web Services">
              </div>

              <div class="col-sm">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/postgresql.svg') }}" alt="Postgresql">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/mongodb.svg') }}" alt="MongoDB">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/github.svg') }}" alt="Github">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/bitbucket.svg') }}" alt="Bitbucket">
                  <img class="skills-logo m-2" src="{{ url_for('static', filename='images/skills/jenkins.svg') }}" alt="Jenkins">
              </div>

          </div>
      </div>

      <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab" tabindex="0">
          ...
          <!-- new kgs, discord bot, hot sauce heroes, any other websites?? coding eagle?? discord server?? pepe? kollectr?? -->
      </div>

      <!-- maybe a skills tab??
      python, ruby, typescript, react, django, docker, aws, gcp, azure, github, jenkins faker
      bootstrap, react testing library, selenium, flask, fastapi, poetry, cypress

      -->

  </div>

</div>