<div class="container" id="character">
  <h1 class="main-brand pb-5 text-uppercase">Character Sheet</h1>
  <div class="row fs-5">
      <div class="col-sm character-base-stats">
          <!-- maybe use stacks here -->
          <div class="row pb-2">
              <div class="col">
                  <img src="{{ url_for('static', filename='images/pfp.png') }}" alt="Me">
              </div>
              <div class="col">
                  <p class="mb-0">Steve</p>
                  <p class="mb-0">Human Engineer</p>
                  <div class="pt-2">
                      <p class="fs-3 mb-0 pb-0">Level {{ dynamic_life_experience.level }}</p>
                      <div class="mt-5">
                          <p class="text-small mb-0 pb-0 text-center">EXP TO NEXT LEVEL</p>
                          <p class="text-center fs-4">{{ dynamic_life_experience.exp_to_next_level }}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="pb-2">
              <div class="hstack">
                  <span class="me-auto">Health</span>
                  <span>{{ dynamic_life_experience.health ~ ' / ' ~ dynamic_life_experience.health }}</span>
              </div>
              <div class="hstack">
                  <span class="me-auto">Energy</span>
                  <span>{{ dynamic_life_experience.energy ~ ' / ' ~ dynamic_life_experience.energy }}</span>
              </div>
              <div class="hstack">
                  <span class="me-auto">Exp</span>
                  <span>{{ dynamic_life_experience.total_experience }}</span>
              </div>
          </div>
          <div class="pb-2">
              <h3 class="text-center main-brand text-uppercase pb-2">Proficiencies</h3>
              <div class="hstack gap-4 pb-2">
                  <img width="32px" src="{{ url_for('static', filename='images/pixel-star.svg') }}" alt="Star">
                  <span>Python</span>
              </div>
              <div class="hstack gap-4 pb-2">
                  <img width="32px" src="{{ url_for('static', filename='images/pixel-star.svg') }}" alt="Star">
                  <span>Ruby</span>
              </div>
              <div class="hstack gap-4 pb-2">
                  <img width="32px" src="{{ url_for('static', filename='images/pixel-star.svg') }}" alt="Star">
                  <span>TS/JS</span>
              </div>
          </div>
      </div>
      <div class="col-sm-7 character-detail">
          <ul class="nav nav-pills mb-3 gap-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="btn btn-outline-dark active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">
                      All
                  </button>
              </li>
              <!-- get keys for buttons once -->
              {% for key in character_stats.keys() %}
                  <li class="nav-item" role="presentation">
                      <button class="btn btn-outline-dark" id="pills-{{ key }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ key }}" type="button" role="tab" aria-controls="pills-{{ key }}" aria-selected="false">
                          {{ key }}
                      </button>
                  </li>
              {% endfor %}
          </ul>
          <div class="tab-content character-detail-content overflow-auto fs-5" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
                  <!-- get all -->
                  {% for key, values in character_stats.items() %}
                      <h4 class="character-sheet-header">{{ key }}</h4>
                      <div class="pb-3">
                      {% for value in values.content %}
                          {% if values.type == 'bullet' %}
                              <p>{{ value }}</p>
                          {% elif values.type == 'badge' %}
                              <span class="badge rounded-pill mb-2">{{ value }}</span>
                          {% endif %}
                      {% endfor %}
                      </div>
                  {% endfor %}
              </div>
              <!-- now each until cleaned up more later -->
              {% for key, values in character_stats.items() %}
                  <div class="tab-pane fade" id="pills-{{ key }}" role="tabpanel" aria-labelledby="pills-{{ key }}-tab" tabindex="0">
                      <h4 class="character-sheet-header">{{ key }}</h4>
                      <div class="pb-3">
                      {% for value in values.content %}
                          {% if values.type == 'bullet' %}
                              <p>{{ value }}</p>
                          {% elif values.type == 'badge' %}
                              <span class="badge rounded-pill mb-2">{{ value }}</span>
                          {% endif %}
                      {% endfor %}
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>