<div class="container" id="about">
      <div class="text-center">
          <h1 class="pb-5 main-brand">LET ME INTRODUCE MYSELF</h1>
      </div>
      <div class="fs-4">
          <p>
              As a software engineer, I've had the opportunity to work with a variety of frameworks and languages,
              specializing in full stack development. I've taken on both contract work and full-time positions at
              numerous organizations, gaining valuable experience along the way.
          </p>
          <p>
              This website serves as a place to showcase my skills, experience, and projects that I've
              developed and maintained. From front-end design to back-end implementation, I've tackled a diverse
              range of projects.
          </p>
          <p>
              And on a more personal note, I have a deep passion for hot sauce! It adds a little kick to everything,
              just like how I approach software development.
          </p>
      </div>
  </div>