<div class="container" id="about">
      <div class="text-center">
          <h1 class="pb-5 main-brand">LET ME INTRODUCE MYSELF</h1>
      </div>
      <div class="fs-4">
          <p>
              I'm a software engineer with experience in full stack development utilizing various frameworks and languages. I do contract work and have been a full time employee at many organizations.
          </p>
          <p>
              This site serves as a collection of my experience, skills, and apps I've deployed and maintain.
          </p>
          <p>
              Oh, and did I mention I love hot sauce?
          </p>
      </div>
  </div>