<!-- clean this up with an iterable -->
<div class="container" id="quotes">
      <h1 class="text-center rounded">Quotes From People That Know Me</h1>
      <div id="quoteCarousel" class="carousel slide pt-5" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="6000">
                  <figure class="text-center">
                      <blockquote class="blockquote">
                          <p class="fs-2">Your work be unparalleled!</p>
                      </blockquote>
                      <figcaption class="blockquote-footer fs-4">
                          Some Pirate
                      </figcaption>
                  </figure>
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                  <figure class="text-center">
                      <blockquote class="blockquote">
                          <p class="fs-2">I AM SO GLAD THAT WE ARE FRIENDS!</p>
                      </blockquote>
                      <figcaption class="blockquote-footer fs-4">
                          One Of My Friends
                      </figcaption>
                  </figure>
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                  <figure class="text-center">
                      <blockquote class="blockquote">
                          <p class="fs-2">You're great at figuring stuff out.</p>
                      </blockquote>
                      <figcaption class="blockquote-footer fs-4">
                          Previous Employer
                      </figcaption>
                  </figure>
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                  <figure class="text-center">
                      <blockquote class="blockquote">
                          <p class="fs-2">Thanks for the help!</p>
                      </blockquote>
                      <figcaption class="blockquote-footer fs-4">
                          Previous Coworker
                      </figcaption>
                  </figure>
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                  <figure class="text-center">
                      <blockquote class="blockquote">
                          <p class="fs-2">Who raised you? They deserve a medal for a job well done.</p>
                      </blockquote>
                      <figcaption class="blockquote-footer fs-4">
                          My Parents
                      </figcaption>
                  </figure>
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                  <figure class="text-center">
                      <blockquote class="blockquote">
                          <p class="fs-2">Nobody will believe these are real quotes.</p>
                      </blockquote>
                      <figcaption class="blockquote-footer fs-4">
                          My Wife
                      </figcaption>
                  </figure>
              </div>
          </div>
      </div>
  </div>