<div class="container text-center">
    <h1 class="main-brand pb-5">PLACES I'VE BEEN</h1>
    <div class="row work-history-row justify-content-center">
        <div class="col">
            <img class="work-history-img rounded shadow" src="{{ url_for('static', filename='images/experiences/icario.svg') }}" alt="Icario">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/ribbon.svg') }}" alt="Ribbon Home">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/cmg.svg') }}" alt="Cox Media Group">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/meraki.svg') }}" alt="Cisco Meraki">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/target.svg') }}" alt="Target">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/gracenote.svg') }}" alt="Gracenote">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/tapqa.svg') }}" alt="tapQA">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/atvi.svg') }}" alt="Activision">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/ofw.svg') }}" alt="Our Family Wizard">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/ocas.svg') }}" alt="Ontario College Application Service">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static',  filename='images/experiences/taylor.svg') }}" alt="Taylor Digital">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"  src="{{ url_for('static', filename='images/experiences/spok.svg') }}" alt="Spok">
        </div>
    </div>
</div>
